<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.issja.mapper.ScoreMapper">
    <insert id="addScore">
        insert into  score
        values (
        (select id from  student where account=#{uAccount}),
        (select id from  contests where name=#{cName}),
        <if test="isDuring==true">
            #{score},0,#{aNum}
        </if>
        <if test="isDuring==false">
            0,#{score},#{aNum}
        </if>
        );
    </insert>

    <update id="updateScore">
        update  score s
        <if test="isDuring==true">
            set s.duringScore=#{score}
        </if>
        <if test="isDuring==false">
            set s.afterScore=#{score}
        </if>
        ,s.aNum=#{aNum}
        where s.uid = (select id from  student where account = #{uAccount})
        and s.cid = (select id from  contests where name = #{cName})
    </update>

    <select id="isExist" resultType="java.lang.Integer">
        select count(*)
        from  score s
        where s.uid = (select id from  student where account = #{account})
          and s.cid = (select id from  contests where name = #{name})
    </select>
    <select id="getScoreANum" resultType="java.lang.Integer">
        select aNum
        from  score s
        where s.uid = (select id from  student where account = #{account})
          and s.cid = (select id from  contests where name = #{name})
    </select>
</mapper>
