<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.issja.mapper.StudentMapper">
    <select id="getStudentPageAndSearch" resultType="java.util.Map">
        select u.id id, name, sno, account, ifnull(sum(duringScore), 0) + ifnull(sum(afterScore), 0) score
        from  student u
                 left join  score s
                           on u.id = s.uid
        where name like concat('%', #{searchValue}, '%')
           or u.id like concat('%', #{searchValue}, '%')
           or sno like concat('%', #{searchValue}, '%')
           or account like concat('%', #{searchValue}, '%')
        group by u.id
        order by u.id asc
    </select>
    <select id="getStudentScores" resultType="com.issja.entity.StudentContestDetail">
        select c.id cid, c.name cname, duringScore during, afterScore after, aNum
        from contests c join (select *
                            from student u
                                     join score s on u.id = s.uid
                            where u.id = #{id}) temp
                           on c.id = temp.cid
    </select>
    <select id="getAllStudentIncludesScore" resultType="java.util.Map">
        select u.id id, name, sno, account, ifnull(sum(duringScore), 0) + ifnull(sum(afterScore), 0) score
        from  student u
                  left join  score s
                             on u.id = s.uid
        group by u.id
        order by u.id asc
    </select>
</mapper>
